
* {
    margin: 0;
    padding: 0;
}
body {
    margin-top: 200px;
    background-color: #d9b7e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

 @media screen and (max-width:514px) {
    .field {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    body {
        background-color: aqua;
    }
 }
 #field {
    width: 300px;
    margin-top: 10px;
    height: 30px;
    border-radius: 10px;
    border-color: #fff;
    padding-left: 0px;
    margin-right: 0px;
    
}

